form(action=routes.addPatient, method="post")
    input(type="text", placeholder="이름을 입력해주세요.", name = "name")
    input(type="text", placeholder="성별을 입력해주세요.", name = "sex")
    input(type="text", placeholder="나이를 입력해주세요.", name = "age")
    input(type="submit", value="Submit")
    