doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  style
    include style.css
  title Care-O
header.main-header
  a(href='./')
    img.logoimg
  ul.menu
    li
      a(href='./chart')
        button 문진표 관리
    li
      a(href='./patient')
        button 환자 관리
.userEL1968702
  .container.full-width
    .slides-filter
    .video-wrap
      .vidtext.text-center
