doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  style
    include style.css
  title Care-O
header.main-header
  a(href='/')
    img.logoimg
  ul.menu
    li
      a(href='/chart')
        button 문진표 관리
    li
      a(href='/patient')
        button 환자 관리
form(action = routes.sendChart(id), method = "post")
    |Chart1(항문암 문진)
    input(type = "checkbox", name = "1")
    |Chart2(치루 문진)
    input(type = "checkbox", name = "2") 
    input(type = "submit", value = "전송")