.patient-block
    ul
        each patient in patients
            li=patient.name+patient.sex+patient.age
                a(href=routes.patientDetail(patient.id)) View Detail
                a(href=routes.deletePatient(patient.id)) Delete