.patient-block
    ul
        each patient in patients
            li=patient.name+patient.sex+patient.age
                a(href="/patientDetail") View Detail
                a(href="/sendChart") Send Chart