form(action = routes.sendChart(id), method = "post")
    |Chart1(항문암 문진)
    input(type = "checkbox", name = "1")
    |Chart2(치루 문진)
    input(type = "checkbox", name = "2") 
    input(type = "submit", value = "전송")